html{
    margin: 20px;
}
body{
    background-image: url("/images/pexels-pixabay-207756.jpg");
    background-size: cover;
}
.quest{
    
    justify-content: center;
    text-align: center;
    color: black;
    border: 2px solid brown;
    background-color: grey;

}
.quest ul>li{
    color: lime;
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-weight: bolder;
    justify-content: right;
    text-shadow: 5px 5px 3px white;
}
.og{
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quest1{
    font-style: italic;
    color: blue;
    padding: 20x;
    border: 2px solid lime;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    justify-content: center;
    width: 50%;
}
.quest2{
    font-style: italic;
    color: blue;
    padding: 10x;
    border: 2px solid lime;
    width: fit-content;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    width: 50%;
}
.quest3{
    font-style: italic;
    color: blue;
    padding: 10x;
    border: 2px solid lime;
    width: fit-content;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    width: 50%;
}

.quest4{
    font-style: italic;
    color: blue;
    padding: 10x;
    border: 2px solid lime;
    width: fit-content;
    margin: 10px;
    border-radius: 45px;
    background-color: white;
    width: 50%;
}

 
.quest5{
    font-style: italic;
    color: blue;
    padding: 10x;
    background-color: white;
    border: 2px solid lime;
    width: fit-content;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    width: 50%;
}
